<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css" inline>
  <script src="/scripts/medium-zoom.min.js" inline></script>
  <script src="/scripts/theme-selection.js" inline defer></script>
</head>
<body>
  {{ comp.OptionsMenu({}) | safe }}
  <article {% if dev == true %} contenteditable="true"{% endif %}>
    {{ content | safe }}
  </article>
  <footer>
    <p>~ Page generated using <a href="https://github.com/vicente015/lovely" target="_blank">lovely</a> at {{ date | date('DATE') }}<p>
  </footer>
</body>
<script defer>
  mediumZoom('img', {
    margin: 20,
    background: '#365314'
  })
</script>
</html>
